:host header {
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #aaa;
    border-bottom: 2px solid #777;
}
:host p {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    float: left;
}
:host nav {
    float: right;
    font-size: 16px;
    line-height: 20px;
}
:host nav a {
    text-decoration: none;
    color: #555;
    transition: all 0.2s ease-in-out;
    margin-right: 10px;
}
:host nav a:hover {
    text-decoration: underline;
    color: #fff;
}