<div class="container">
  <section>
      <img src="../assets/imgs/1.jpg"/>
  </section>
  <section>
      <h1>About myself</h1>
      <p>HTML5, CSS3, JS, JQuery, PHP5, MySQL, Creating pixel-to-pixel and adaptive layouts, Readable and extensible code for teamwork, Validity and cross-browser compatibility, Integration with CMS WordPress, Drupal</p>
      <h2>More info</h2>
      <ul>
          <li><a href="https://vk.com/shantorc" target="_blank">VKontakte<i class="fa fa-vk" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/leonid.kravtsov.988" target="_blank">Facebook<i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
          <li><a href="mailto:shantorc1980@gmail.com">Send letter<i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          <li><a href="http://promo.odfs.info/" target="_blank">Visit WEBsite<i class="fa fa-globe" aria-hidden="true"></i></a></li>
      </ul>
  </section>
</div>